* {
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  font-size: 1.5em;
  padding: 40px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
}

.form-input {
  margin: 3px;
}

input{
  width: 100%;
}

label {
  font-size: 0.6em;
  font-weight: bold;
}

.error-message {
  font-size: 0.5em;
  color: #ff0033;
}

.success-message {
  font-size: 0.75em;
  color: #4BB543; 
  font-weight: bold;
}

#submit {
  margin-top: 10px;
  padding: 5px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #45b6fe;
  box-shadow: 1px 1px 3px #1c4966;
  border-radius: 4px;
}

#submit:active {
  transform: scale(0.9);
}